Repository mongodb/docs-node, pull requests merged in 2024-11, with the labels that each got.

#929 [Backport v6.10] DOCSP-44947 Shorten TOC
  source/aggregation-tutorials.txt
  source/fundamentals.txt
  source/fundamentals/authentication.txt
  source/fundamentals/bson.txt
  source/fundamentals/connection.txt
  source/fundamentals/crud.txt
  source/fundamentals/crud/read-operations.txt
  source/fundamentals/crud/write-operations.txt
  source/fundamentals/monitoring.txt
  source/index.txt
  source/quick-start.txt
  source/usage-examples.txt
  source/usage-examples/delete-operations.txt
  source/usage-examples/find-operations.txt
  source/usage-examples/insert-operations.txt
  source/usage-examples/transactions.txt
  source/usage-examples/update-and-replace-operations.txt
Labels: backport v6.9, backport v6.8, backport v6.7, backport v6.6

#930 [Backport v6.9] DOCSP-44947 Shorten TOC
  .github/workflows/backport.yml
  source/aggregation-tutorials.txt
  source/fundamentals.txt
  source/fundamentals/authentication.txt
  source/fundamentals/bson.txt
  source/fundamentals/connection.txt
  source/fundamentals/crud.txt
  source/fundamentals/crud/read-operations.txt
  source/fundamentals/crud/write-operations.txt
  source/fundamentals/monitoring.txt
  source/index.txt
  source/quick-start.txt
  source/usage-examples.txt
  source/usage-examples/delete-operations.txt
  source/usage-examples/find-operations.txt
  source/usage-examples/insert-operations.txt
  source/usage-examples/transactions.txt
  source/usage-examples/update-and-replace-operations.txt
Labels: backport v6.8, backport v6.7

#931 [Backport v6.8] DOCSP-44947 Shorten TOC
  .github/workflows/backport.yml
  source/aggregation-tutorials.txt
  source/fundamentals.txt
  source/fundamentals/authentication.txt
  source/fundamentals/bson.txt
  source/fundamentals/connection.txt
  source/fundamentals/crud.txt
  source/fundamentals/crud/read-operations.txt
  source/fundamentals/crud/write-operations.txt
  source/fundamentals/monitoring.txt
  source/index.txt
  source/quick-start.txt
  source/usage-examples.txt
  source/usage-examples/delete-operations.txt
  source/usage-examples/find-operations.txt
  source/usage-examples/insert-operations.txt
  source/usage-examples/transactions.txt
  source/usage-examples/update-and-replace-operations.txt
Labels: backport v6.7

#932 [Backport v6.7] DOCSP-44947 Shorten TOC
  .github/workflows/backport.yml
  source/aggregation-tutorials.txt
  source/fundamentals.txt
  source/fundamentals/authentication.txt
  source/fundamentals/bson.txt
  source/fundamentals/connection.txt
  source/fundamentals/crud.txt
  source/fundamentals/crud/read-operations.txt
  source/fundamentals/crud/write-operations.txt
  source/fundamentals/monitoring.txt
  source/index.txt
  source/quick-start.txt
  source/usage-examples.txt
  source/usage-examples/delete-operations.txt
  source/usage-examples/find-operations.txt
  source/usage-examples/insert-operations.txt
  source/usage-examples/transactions.txt
  source/usage-examples/update-and-replace-operations.txt
Labels: backport v6.6, backport v6.5, backport v6.4

#939 DOCSP-45694 - fix OIDC wording
  source/whats-new.txt
Labels: backport v6.11
